#top {
    background-image: url(../img/Game/Batgame1.png);
}

#top .container {
    width: 100%;
}

#top .carte.titre {
    font-size: clamp(32px, 4vw, 50px);
    margin: 0;
}

section.container {
    color: var(--color-white);
}

.quizz-container {
    margin-top: 5rem;
    width: 85%;
}

.quizz-title {
    font-size: 18px;
}

.qcm {
    background-color: var(--color-gray);
    font-size: 18px;
    width: 80%;
    padding: 5px 10px;
    margin-top: 5px;
}

.qcm input {
    width: 22px;
    height: 22px;
    margin-right: 22px;
}

.qcm:hover {
    background-color: var(--color-yellow-alt);
}

.btn {
    border: none;
    margin: 2.5rem auto;
    display: block;
}

.slider-quizz img {
    width: 100%
}


.correct{
    background-color: #19587d;
}
.wrong{
    background-color: #B11313;
}

@media screen and (max-width:768px) {
    .quizz-container {
        width: 90%;
        margin: 5rem auto;
    }
    .qcm {
        width: 100%;
    }
}

#quizzresult{
    display: none;
} 
#quizzresult .container{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quizzresult .container .title{
    font-size: 32px;
    color: white;
    font-weight: bold;
}

#quizzresult .container ul{
    font-size: 18px;
    color: white;
}
#quizzresult .container ul .bonne{
    color: #ffff00;
    font-weight: bold;
    font-size: 22px;
}

#quizzresult .container ul .bad{
    color: #B11313;
    font-weight: bold;
    font-size: 22px;
}
