#top {
    background-image: url(../img/Game/Batgame1.png);
}

#top .container {
    width: 100%;
}

#top .carte.titre {
    font-size: clamp(32px, 4vw, 50px);
    margin: 0;
}

section.container {
    color: var(--color-white);
}

.quizz-container {
    margin-top: 5rem;
    width: 85%;
}

.quizz-title {
    font-size: 18px;
}

.qcm {
    background-color: var(--color-gray);
    font-size: 18px;
    width: 80%;
    padding: 5px 10px;
    margin-top: 5px;
}

.qcm input {
    width: 22px;
    height: 22px;
    margin-right: 22px;
}

.qcm:hover {
    background-color: var(--color-yellow-alt);
}

.correct {
    background-color: #19587d;
}

.wrong {
    background-color: #b11313;
}

@media screen and (max-width: 768px) {
    .quizz-container {
        width: 90%;
        margin: 5rem auto;
    }

    .qcm {
        width: 100%;
    }
}

#quizzresult {
    display: none;
}


#quizz2result .container,
#quizzresult .container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.descision,
#quizz2result .container .title,
#quizzresult .container .title {
    font-size: 32px;
    color: white;
    font-weight: bold;
}
#quizz2result .container ul,
#quizzresult .container ul {
    font-size: 18px;
    color: white;
}
#quizz2result .container ul .bonne,
#quizzresult .container ul .bonne {
    color: #ffff00;
    font-weight: bold;
    font-size: 22px;
}
#quizz2result .container ul .bad,
#quizzresult .container ul .bad {
    color: #b11313;
    font-weight: bold;
    font-size: 22px;
}

/* QUIZZ NUMERO 2 */

.btn {
    border: none;
    margin: 2.5rem auto;
    display: block;
}

.slider-quizz img {
    width: 100%;
}
#quizznum2 .qcm{
    width: 90%;
    margin: 0.5rem auto;

}

#quizznum2 .quizz-title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
#quizznum2 .quizz-container {
    margin: 0;
}

#quizznum2 .slider-quizz {
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quizz2-bg{
    background-image: url("../img/Game/Batgame2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#quizznum2 .slider-quizz img.quizz-container {
    width: 100%;
    display: block;
}

#quizznum2 .slider-quizz .quizz-container {
    position: relative;
    top: 0;
    width: 96%;
    display: none;
}


#quizznum2 .quizz-counter{
    margin-top: -3rem;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    display: none;
}

#quizz2result {
    display: none;
}

#quizz2result .answers {
    display: flex;
    margin: 1rem auto;
    justify-content: space-between;
}

#quizz2result .answers .texte {
    width: 80%;
}

.answers .texte {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    text-align: center;
}

.answers .circle {
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(237, 222, 191, 0.5);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle svg {
    line-height: 0;
    fill: #fff;
    width: 20px;
    height: 20px;
}

.texte .laquestion {
    font-size: 22px;
    font-weight: bolds;
}

.text .info-quizz {
    font-size: 18px;
    margin: 7px 0;
}
